<table class="table">
<tbody>
	<tr>
		<td>
			<span class="date">
				
				<big><strong>2018</strong></big><br />
				
				May
			</span>
		</td>
		<td class="publication">
			<span class="pubtitle">
				<img src="img/pdficon_small.png" width="16"
					height="16" alt="PDF" />
				<a href="https://scholar.google.com.sg/citations?user=s89pR8sAAAAJ&amp;hl=en">Full publication list</a>.
			</span><br />
			<span class="authors">
				Zhi Wang.
			</span><br />
			<span class="venuetype"></span><span class="venue">Please check my Google Scholar to see my full publication list.</span>.
			<br />
			<span class="links">
			</span>
		</td>
	</tr>
</tbody>
</table>
